.proposals {
  .event-title {
    font-weight: bolder;
  }
  .btn {
    display: block;

    margin-top: 1em;
    width: 150px;
  }
}

#proposal {
  input#email {
    width: 80%;
  }
  select#rating_score {
    display: inline;

    width: 4em;
  }

  span {
    &.status {
      display: block;
      float: right;

      margin: 0.3em 6.5em 0.4em 0;
    }
    &.small-status {
      display: block;
      float: right;

      font-size: 75%;
    }
  }

  ul.invitation {
    padding: 0;
    .label {
      margin-right: 10px;
    }
  }
  .other_proposals li {
    margin-bottom: 5px;
  }
  .other_proposal_tags {
    margin-bottom: 7px;
    padding-left: 10px;
  }

  .panel-body {
    :first-child {
      margin-top: 0;
    }
  }

  .jumbotron {
    date {
      display: block;

      font-size: 0.8em;

      text-align: right;

      color: #737373;
    }
  }
}

#copy-emails {
  margin: 10px;
}

#emails-for-copy {
  display: none;
}

.proposal-list {
  .actions {
    width: 180px;
  }
  .date_range_filter,
  .text_filter {
    width: 100px !important;
  }
}

ul {
  list-style-type: none;
  li.proposal .label {
    margin-right: 1em;
  }
  li.proposal {
    border-bottom: 1px solid #dddddd;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.status.label {
  font-size: 1.3em;
}

.twitter-share-button {
  margin-top: 2.3em;
  margin-left: 0.5em;
}

.toolbox {
  margin: 14px;
}

input#email {
  width: 275px !important;
}

.btn.save-comment {
  float: right;

  width: 105px;
}
.btn#back,
.btn#edit {
  margin-bottom: 5px;
}

span.disabled-state {
  padding: 3px 20px;

  color: grey;
}

#delete {
  margin-right: 5px;
}

.row {
  #updated_parent {
    /* Place this row behind the status buttons */
    z-index: -1;
  }
}

#organizer-proposals-index {
  .dataTables_filter,
  .filter_date_range {
    display: none;
  }
  .top_row_buttons {
    margin-bottom: 5px;
  }
}

#reviewer-proposals_wrapper {
  // A hack to hide our rated? boolean column that is being used to initally sort
  th:last-of-type,
  td:last-of-type {
    display: none;
  }
}

.callout {
  padding-left: 0.5em;

  border-left: solid darken(#dff0d8, 10%) 5px;
  background-color: lighten(#dff0d8, 5%);
}

#event_statistics {
  h3 {
    margin-bottom: -10px;
  }
  dl {
    margin-left: 0.5em;
  }
  dt {
    width: 160px;

    text-align: left;
  }
  dd {
    margin-left: 140px;
  }
}

.glyphicon-leaf {
  color: green;
  &:hover {
    cursor: pointer;
  }
}


.ratings_list {
  .text-success:hover {
    color: #468847;
  }
  dt {
    font-weight: normal;

    text-align: left;
  }
  dd {
    margin-left: 150px;
  }
}

span.glyphicon-question-sign {
  display: inline-block;

  font-size: 1.3em;
}

div.col-md-4 {
  h3 {
    display: inline-block;
  }
}
