= f.simple_fields_for :speakers, f.object.speakers do |speaker_fields|
  - speaker = speaker_fields.object.decorate
  .panel.panel-primary
    .panel-heading
      %h4.panel-title= speaker.name_and_email
    .panel-body

      %p
        This information will be
        %strong hidden
        from the review committee, but visible to
        %strong everyone
        if your proposal is approved.

      %p
        Note that you can update your bio and other settings at any time in
        %a{ href: '/profile/edit' } your profile

      = speaker_fields.hidden_field :person_id, value: speaker.person_id

      %label.text.optional.control-label Bio
      %br
      = speaker.bio
